.app {
    min-height: 100vh;
    overflow: hidden;
    .app-main {
        flex-grow: 1;
        position: relative;
    }
    .open-menu-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 6px 5px;
        border-radius: 3px;
        background-color: $blue;
        color: #fff;
        border: none;
        gap: 5px;
        transition: background-color 0.085s ease;
        svg {
            width: 24px;
        }
        &:hover {
            background-color: darken($blue, 5%);
        }
    }
    .screen {
        display: none;
        @include for-mobile-layout {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 1;
            inset: 0;
            &.open {
                display: block;
            }
        }
    }
}
