.app-header {
    background-color: $header-bgc;
    height: 50px;
    gap: 15px;
    padding: 2px 5px;
    span {
        color: $white;
        font-size: rem(20px);
    }
    img {
        width: 110px;
    }
}
