// Colors
$header-bgc: #4a545f;
$white: #fff;
$dark-gray: #5e5e5e;
$light-gray: #fafafa;
$details-bgc: #f3f3f3;
$blue: #5291eb;
$clr7: #222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
